<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Card</title>

    <link rel="stylesheet" href="/css/id-card.css">
</head>

<body>
    <div class="container">
        <div class="card">

            <div class="card-body">

                <div class="employee-photo">
                    {{if .Photo}}
                    <img
                        src="/uploads/{{.Photo}}"
                        alt="Foto de {{.FullName}}"
                        class="employee-card-photo">
                    {{else}}
                    👤
                    {{end}}
                </div>

                <div class="employee-info">

                    <div class="info-row">
                        <div class="employee-name">
                            {{.FullName}}
                        </div>

                        <div class="employee-position">
                            {{.Position}}
                        </div>
                    </div>

                    <div class="info-row">
                        <div class="employee-email">
                            {{.Email}}
                        </div>

                        <div class="employee-id">
                            ID: {{.ID}}
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>

</html>