<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Employee management system for businesses. Organize your team simply and efficiently.">
    <title>Registration - HR Management System</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/style.css">
   
</head>

<body>
    <div class="container">
        <h1>Create Account</h1>
        <form action="/register" method="POST">
            <label for="username">User:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Register</button>
        </form>
        {{if.error}}
        <div class="error">{{.error}}</div>
        {{end}}
        <div class="page-link">
            <a href="/login">Already have an account? Log in</a>
        </div>
    </div>
    <script src="/js/dark-mode.js"></script>
</body>

</html>